body {
    margin: 0px;
}

h1 {
    color: black;

    font-weight: 700;

}

.kom {
    color: orange;
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding: 10px 40px;
    padding-left: 8%;

}

.half img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(252, 84, 23);
    border: 1px;
    padding: 5px 5px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(top-banner.png);

    background-repeat: no-repeat;
}